@model List<Product>

@{
    ViewData["Title"] = "Search Result";
}

<h2 class="text-black">Search Result</h2>

<table class="table table-bordered table-striped" style="width:100%;">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Product name
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @obj.Id
                </td>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.Price
                </td>
                <td style="text-align:center;">
                    <img src="@obj.Img" style="height:100px;width:100px;">
                </td>
                <td style="text-align:center;">
                    @Html.ActionLink("Edit", "Edit", "Product", new { id=obj.Id }) <span>-</span>
                    @Html.ActionLink("Delete", "Delete", "Product", new { id=obj.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
